<div class="about-section d-flex align-items-center justify-content-center">
  <div class="overlay"></div>

  <div class="about-card text-center p-4 p-md-5">
    <h1 class="fw-bold mb-3">Hi, I'm Ahmed Ashraf</h1>
    <p class="lead mb-4">
      A passionate Full Stack Developer who loves building
      responsive web applications, solving complex problems, and turning ideas
      into digital reality.
    </p>

    <h2 class="fw-semibold mt-4 mb-3">What I Do</h2>
    <p>
      I specialize in HTML, CSS, Bootstrap, Currently learning Angular and
      TypeScript, I like crafting scalable web apps with clean code and intuitive UI/UX design.
      I’m always learning and exploring new technologies.
    </p>

    <h2 class="fw-semibold mt-4 mb-3">Beyond Code</h2>
    <p>
      When I’m not coding, you’ll probably find me gaming, exploring tech
      trends.
    </p>
    <a routerLink="/projects" class="btn btn-outline-light mt-4 px-4 py-2">
      View My Projects
    </a>
  </div>
</div>
